.container {
  padding: 1rem;
  /* margin: 1rem; */
  background-color: rgb(199, 199, 199);
  border-radius: 1rem;
  color: black;
  box-shadow: 0px 5px 10px rgb(126, 126, 127);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productImage {
  width: 100%;
  height: 200px;
}

.Image {
  width: 100%;
  height: 100%;
}
.bodycard {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.onAddToCard {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: blue;
}

.onAddToCard:hover {
  cursor: pointer;
  background-color: darkblue;
}
.description {
  overflow: hidden;
  height: 50px;
}
